html,
body {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

div.main-body {
  display: grid;
  grid-template-columns: minmax(350px, auto) 1fr;
  grid-template-areas: "navbar mainContent";
  grid-gap: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

nav#navbar {
  grid-area: navbar;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  border-right: solid;
  border-color: green;
  padding: 10px 10px 10px 10px;
}

nav#navbar a {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: black;
}

main#main-doc {
  grid-area: mainContent;
}

header {
  font-size: 1.5em;
  font-weight: bold;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

pre {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

@media screen and (max-width: 750px) {
  div.main-body {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "mainContent";
  }

  nav#navbar {
    position: inherit;
  }
}
