div.main-body {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-areas: "navbar mainContent";
  grid-gap: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

nav#navbar {
  grid-area: navbar;
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  border-right: solid;
  border-color: green;
  padding: 10px 10px 10px 10px;
}

nav#navbar a {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: black;
}

main#main-doc {
  grid-area: mainContent;
}

header {
  font-size: 1.5em;
  font-weight: bold;
}
